

    <div class="container">


      <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">




            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="media" ng-init="dish">
                        <div class="media-left media-middle">
                            <a href="#">
                            <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                             <span class="label label-danger">{{dish.label}}</span>
                             <span class="badge">{{dish.price | currency}}</span></h2>
                            <p>{{dish.description}}</p>
                        </div>
                    </div>
                 </div>
            </div>



            <div class="col-xs-9 col-xs-offset-1">
                <h4>Customer comments 
                <span style="font-size:15px">  Sort by:</span>
                <input type="text" ng-model = "userChoice"></h4>
                <ul class="list-unstyled">
                  <li ng-repeat="comment in dish.comments | orderBy: userChoice ">
                    <blockquote>
                      <p> {{comment.rating}} Stars</p>
                      <p> {{comment.comment}}</p>
                      <footer>{{comment.author}} <cite>{{comment.date | date : 'mediumDate'}}</cite></footer>
                     </blockquote> 
                  </li> 
               </ul> 
            </div>
    
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                    <ul class="list-unstyled">
                        <h3>Your Current Feedback:</h3>
                        <blockquote>
                            <p>Name: {{feedback.author}} </p>
                            <p>Rating: {{feedback.rating}} </p>
                            <p>Comments: {{feedback.comment}}</p>
                        </blockquote>
                    </ul>

                <form class="form-horizontal" name="feedbackForm" ng-submit="submitComment()" novalidate>
                     <div class="form-group" ng-class="{ 'has-error has-feedback' : feedbackForm.userName.$invalid && !feedbackForm.userName.$pristine }">
                        <label for="userName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="userName" name="userName" placeholder="Name" ng-minlength="4" ng-model="feedback.author" required>    
                                <span ng-show="feedbackForm.userName.$invalid  && !feedbackForm.userName.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                 <span ng-show="(feedbackForm.userName.$invalid ||
                                        feedbackForm.userName.$error.required) &&
                                        !feedbackForm.userName.$pristine"
                                        class="help-block" >name must be longer than 3 letters.</span>
                            </div>    
                    </div>
                    <!-- RADIO BUTTONS -->
                        <div class="form-group">
                        <label for="rating" class=" col-sm-2 control-label">rating   </label>
                        <div class="col-xs-12 col-sm-8">

                            <label  class="radio-inline ">
                              <input type="radio" name="1 " value ="1" ng-model="feedback.rating" > 1 star  
                            </label>
                            <label  class="radio-inline ">
                              <input type="radio" name="2 " value ="2" ng-model="feedback.rating" > 2 stars 
                            </label>
                            <label  class="radio-inline ">
                              <input type="radio" name="3 " value ="3" ng-model="feedback.rating" > 3 stars  
                            </label>
                            <label  class="radio-inline ">
                              <input type="radio" name="4 " value ="4" ng-model="feedback.rating" > 4 stars  
                            </label>
                           <label  class="radio-inline active">
                              <input checked type="radio" name="5 " value ="5" ng-model="feedback.rating" checked > 5 stars 
                            </label>
                          </div>
                          </div> 


                     <!--comment input-->     
                     <div class="form-group" ng-class="{ 'has-error has-feedback' : feedbackForm.comments.$invalid && !feedbackForm.comments.$pristine }">
                        <label for="comments" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="4" name="comments" placeholder="comments" 
                                 ng-minlength="2" ng-model="feedback.comment" required>
                            </textarea>
                            <span ng-show="feedbackForm.comments.$invalid  && !feedbackForm.comments.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                 <span ng-show="(feedbackForm.comments.$invalid ||
                                        feedbackForm.comments.$error.required) &&
                                        !feedbackForm.comments.$pristine"
                                        class="help-block" >you must enter a comment</span>
                        </div>
                    </div> 
                     <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                             <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid">Send Feedback</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

